<!DOCTYPE html>
<html lang="en">
  <head>
    meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type="text/css" href="{% static  'weather/style.css' %}" />
    <link rel="icon" href="{% static 'weather/favicon.ico' %}" type="image/x-icon">
    title>Weather App</title>
  </head>
  <body>
    <nav>
      <div class="logo">AMCOOL</div>
      <div class="title">WEATHER APP</div
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </nav>
    <form class="form" method="post">
      {% csrf_token %}
      <input class="input" type="text" name="city"  placeholder="Choose your City">
      <div>
          <button type="submit">Search</button>
      </div>
  </body>
</html>

